.beach-bg {
  background: url('https://s-media-cache-ak0.pinimg.com/originals/4c/be/e9/4cbee980d9d0cd4d5924005b1b0c715c.jpg') $c-orange center center fixed;
}

// .header-link-beach {
//   color: $c-orange;
// }

.top-words-beach {
  font-family: Pacifico;
}

.heading-beach {
  font-family: Pacifico;
}

.grid-beach {
  background: $c-otherotherorange;
}

.explain-beach {
  background: $c-bluish2;
}
