.beach-bg {
  background: url('/images/oceanpic.jpg') $c-orange center center fixed;
}

.top-words-beach {
  font-family: Pacifico;
}

.heading-beach {
  font-family: Pacifico;
}

.grid-beach {
  background: $c-otherotherorange;
}

.explain-beach {
  background: $c-bluish2;
}
