.beach-bg {
  background: url('/images/beachcopy.jpg') $c-darkblue no-repeat center center fixed;
  background-size: cover;
}

.top-words-beach {
  font-family: Pacifico;
}

.heading-beach {
  font-family: Pacifico;
}

.grid-beach {
  background: $c-teal;
}

.explain-beach {
  background: $c-bluish2;
}
