.city-bg {
  background: url('https://s-media-cache-ak0.pinimg.com/originals/92/25/ec/9225eca4852a685fb8a6fc54d2a26455.jpg') $c-city center center fixed;
}

.header-link-city {
  color: $c-city;
}

.top-words-city {
  font-family: Monoton;
}

.heading-city {
  font-family: Monoton;
}
