.city-bg {
  background: url('/images/citycopy.jpg') $c-city no-repeat center center fixed;
  background-size: cover;
}

.header-link-city {
  color: $c-white;
}

.top-words-city {
  font-family: Monoton;
}

.heading-city {
  font-family: Monoton;
}

.grid-city {
  background: $c-cityish;
}

.explain-city {
  background: $c-grayish;
}
