.city-bg {
  background: url('/images/citypic.jpg') $c-city center center fixed;
}

.header-link-city {
  color: $c-white;
}

.top-words-city {
  font-family: Monoton;
}

.heading-city {
  font-family: Monoton;
}

.grid-city {
  background: $c-cityish;
}

.explain-city {
  background: $c-grayish;
}
