.desert-bg {
  background: url('/images/desert1.jpg') $c-orange center center fixed;
}

.top-words-desert {
  font-family: Rye;
}

.heading-desert {
  font-family: Rye;
}

.grid-desert {
  background: $c-purpleish;
}

.explain-desert {
  background: $c-orangefive;
}
