.desert-bg {
  background: url('/images/desert4.jpg') $c-orange no-repeat center center fixed;
  background-size: cover;
}

.top-words-desert {
  font-family: Rye;
}

.heading-desert {
  font-family: Rye;
}

.grid-desert {
  background: $c-greenish;
}

.explain-desert {
  background: $c-darkteal;
}
