.forest-bg {
  background: url('https://static.pexels.com/photos/26559/pexels-photo-26559.jpg') $c-green center center fixed;
}

.header-link-forest {
  color: $c-forestlight;
}

.top-words-forest {
  font-family: Fredericka The Great;
}

.heading-forest {
  font-family: Fredericka The Great;
}
