.forest-bg {
  background: url('/images/forestpic3.jpeg') $c-green center center fixed;
}

.header-link-forest {
  color: $c-white;
}

.top-words-forest {
  font-family: Fredericka The Great;
}

.heading-forest {
  font-family: Fredericka The Great;
}

.grid-forest {
  background: $c-otherothergreen;
}

.explain-forest {
  background: $c-green;
}
