.forest-bg {
  background: url('/images/forestpic4.jpg') $c-bluish4 no-repeat center center fixed;
  background-size: cover;
}

.header-link-forest {
  color: $c-white;
}

.top-words-forest {
  font-family: Fredericka The Great;
}

.heading-forest {
  font-family: Fredericka The Great;
}

.grid-forest {
  background: $c-orangesix;
}

.explain-forest {
  background: $c-orangefive;
}
