@media(max-width: 650px) {
  .top-words {
    padding: 4rem 3rem;
  }

  .area {
    padding: 4rem 2rem;
  }

  .header {
    margin: 2rem 1rem;
  }

  .header-links {
    margin-left: 3rem;
  }

  .info {
    margin-left: -2.5rem;
  }

  .fa {
    visibility: hidden;
  }
}
