.mountain-bg	{
  background: url('http://bizeventsasia.com/Content/images/backgrounds/mountians_sky_blue.jpg') $c-blueish center center fixed;
  }

  .header-link-mt {
    color: $c-teal;
  }

  .top-words-mountain {
    font-family: Amatic SC;
  }

  .heading-mountain {
    font-family: Amatic SC;
  }

  .grid-mt {
    background: $c-blueish;
  }

  .explain-mt {
    background: $c-teal;
  }
