.mountain-bg	{
  background: url('/images/mountainscopy.jpg') $c-blueish no-repeat center center fixed;
  background-size: cover;
  }

  .header-link-mt {
    color: $c-teal;
  }

  .top-words-mountain {
    font-family: Amatic SC;
  }

  .heading-mountain {
    font-family: Amatic SC;
  }

  .grid-mt {
    background: $c-teal;
  }

  .explain-mt {
    background: $c-darkteal;
  }
