body {
  margin: 0;
  font-family: Work Sans, sans-serif;
  padding-top: 3rem;
  min-height: 60vh;
  background-size: cover;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  }


ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
  min-width: 20rem;
  height: auto;
  min-height: 20rem;
  max-height: 20rem;
}

li {
  list-style: none;
}
