body {
  margin: 0;
  font-family: Khula;
  // background: url("http://bizeventsasia.com/Content/images/backgrounds/mountians_sky_blue.jpg") $c-blueish no-repeat center fixed;
  // background-size: cover;
  // overflow: hidden;
  // // position: relative;
  // object-fit: contain;
  // height: 100vh;
  // width: 100%;
  }


ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
  height: auto;
  // border-radius: 5%;
  min-height: 20rem;
  max-height: 20rem;
}

li {
  list-style: none;
}
