.top-words {
  background-color: rgba(0, 0, 0, 0.2);
}

.examples {
  background-color: rgba(0, 0, 0, 0.5);
}

.about {
  background-color: rgba(0, 0, 0, 0.2);
}

.skills {
  background-color: rgba(0, 0, 0, 0.5);
}

.education {
  background-color: rgba(0, 0, 0, 0.2);
}

.contact {
  background-color: rgba(0, 0, 0, 0.5);
}
