// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';

$c-teal: #00A4B6;
$c-blueish: #56bfc9;
$c-bluish2: #77c7dd;
$c-white: #fff;
@import 'box-sizing';
@import 'resets';
@import 'top';
@import 'footer';

body	{
  // display: flex;
  align-items: center;
  justify-content: center;
  background: url('http://bizeventsasia.com/Content/images/backgrounds/mountians_sky_blue.jpg') $c-blueish center center fixed;
  padding-top: 3rem;
  min-height: 60vh;
  background-size: cover;
  }

.container {
  width: 100%;
}

.area {
  padding: 8rem;
  color: $c-white;
}

.top-words {
  background-color:rgba(0, 0, 0, 0.2);
}

.about {
  background-color:rgba(0, 0, 0, 0.5);
}

.skills {
  background-color:rgba(0, 0, 0, 0.2);
}

.examples {
  background-color:rgba(0, 0, 0, 0.5);
}

.education {
  background-color:rgba(0, 0, 0, 0.2);
}

.contact {
  background-color:rgba(0, 0, 0, 0.5);
}

.icons {
  max-width: 3rem;
  filter: invert(50%);
}

.info {
  font-size: 1.15rem;
  padding: 0.5rem;
}

.contact-info {
  background: $c-teal;
}

.text-link {
  color: $c-white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;

  &-item {
  flex-basis: calc(100% / 2);
  flex-grow: 1;
  margin: 1rem;
  display: flex;
  }
}

.pic-type {
  max-width: 20rem;
}

.github-links {
  color: $c-white;
}

.grid-words {
  padding-left: 2rem;
}
