// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';

$c-teal: #00A4B6;
$c-darkteal: #1b7490;
$c-blueish: #56bfc9;
$c-bluish2: #77c7dd;
$c-white: #fff;
$c-green: #3d732f;
$c-forestlight: #d5f1d8;
$c-orange: #945012;
$c-blackish: #303439;
$c-grayish: #5e5f67;
$c-city: #f1ebad;
$c-switchbg: #dee1e7;


@import 'box-sizing';
@import 'resets';
@import 'switch';
@import 'mountain';
@import 'beach';
@import 'city';
@import 'forest';
@import 'space';


  .header-links {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .header-link {
    text-decoration: none;
    padding: 1rem 0.5rem;
  }

  .header-words {
    color: $c-white;
    font-size: 5rem;
    font-family: Amatic SC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heading {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .top-words {
    padding: 8rem;
    font-size: 5rem;
    background: $c-teal;
    color: $c-white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    &-thing {
      font-size: 3rem;
    }
  }

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.area {
  padding: 8rem;
  color: $c-white;
}


.top-words {
  background-color:rgba(0, 0, 0, 0.2);
}

.examples {
  background-color:rgba(0, 0, 0, 0.6);
}

.about {
  background-color:rgba(0, 0, 0, 0.3);
}

.skills {
  background-color:rgba(0, 0, 0, 0.6);
}

.education {
  background-color:rgba(0, 0, 0, 0.3);
}

.contact {
  background-color:rgba(0, 0, 0, 0.6);
}

.info {
  font-size: 1.15rem;
  padding: 0.5rem;
}

.contact-info {
  background: $c-teal;
}

.text-link {
  color: $c-white;
}

.links {
  text-decoration: none;
  color: $c-white;
}




.grid {
  display: flex;
  flex-wrap: wrap;
  background: $c-darkteal;
  padding: 1rem;
  min-width: 22rem;

  // media query under 650?
  // and remove padding on area


  &-words_desc {
    // visibility: hidden;
    // padding: 1rem;
    // top: 0;
    // left: 0;
    // position: absolute;
    // background: $c-teal;
    //
    // *:hover > & {
    //   visibility: visible;
    // }
  }
}

.group {
  display: flex;
  flex-wrap: wrap;
}

.stuff {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3 - 2rem);
  flex-grow: 1;
  margin: 1rem;
}

.pic {
  box-shadow: 0 0 0.5rem 0 rgba(#000, 0.6);
  margin-bottom: 1rem;
  filter: grayscale(1);

  &:hover {
    filter: grayscale(0);
  }
}

.github-links {
    color: $c-white;
    text-decoration: none;
  }


  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;

    &-switch {
      color: $c-white;
      text-decoration: none;
      padding-left: 0.5rem;
    }

    &-link {
      color: $c-white;
      text-decoration: none;
      padding: 1rem 0.5rem;
    }
  }

  .fa {
    color: $c-white;
  }
